---
import Container from "@/components/container.astro";
import Github from "@/icons/Github.astro";
import ButtonDialog from "./buttonDialog.astro";
import { fetchGitHubUser } from "@/utils/getUserGithubData";
import MobileMenu from "./mobileMenu.astro";

const header = {
    nav: [
        {
            name: 'Inicio',
            url: '/'
        },
        {
            name: 'Proyectos',
            url: '/project'
        },
    ]
}

const options = [
    {
        name: "Perfil",
        url: "/profile"
    },
    {
        name: "Repositiorio",
        url: "https://github.com/diego-dev018/CodeProject"
    },
]

let userInfo = await fetchGitHubUser("diego-dev018");

interface Props {
    active: string;
}
const { active } = Astro.props;
---

<Container class="fixed top-0 left-0 z-[999] right-0 w-full bg-zinc-800 bg-opacity-65 border-b-[1px] border-b-zinc-700 backdrop-blur !pb-0">
    <header class="flex xl:grid xl:grid-cols-3 justify-between items-center w-full h-16 bg-opacity-60">
        <div>
            <h2 class="text-xl font-bold">
                Code
                <span class="text-3xl">
                    Project
                </span>
            </h2>
            <h3 class="text-xs text-yellow-200 italic opacity-80 font-semibold">
                Aprende a Programar Programando
            </h3>
        </div>
        <MobileMenu userInfo={userInfo} />
        <nav class="hidden md:flex items-center mx-auto font-semibold gap-x-8 text-xl">
            {
                header.nav.map(item => (
                    <a
                    class:list={[
                        "px-1 border-b-[1px] border-b-zinc-800 hover:border-b-yellow-100 hover:text-white transition duration-500",
                        active === item.name ? "" : "text-zinc-400"
                    ]}
                    href={item.url}
                    >
                        {item.name}
                    </a>
                ))
            }
        </nav>
        <div class="hidden md:flex justify-end items-center gap-x-2">
            <a
            target="_blank"
            href="https://paypal.me/DiegoDev018"
            class="px-3 py-1 rounded-xl font-semibold text-md bg-zinc-800 hover:bg-zinc-700 transition-colors duration-500"
            >
                Apoyar $
            </a>
            <div>
                <button
                id="user-button"
                class:list={[
                    "px-3 py-2 ml-2 rounded-xl font-semibold text-xl bg-zinc-800 hover:bg-zinc-700 transition-colors duration-500",
                    userInfo.login ? "flex" : "hidden"
                ]}> <!-- Sesion iniciada -->
                    <div
                    class="w-6 h-6 rounded-full bg-cover bg-center"
                    style={`background-image: url('${userInfo.avatar_url}');`}
                    />
                </button>
                <ul
                id="user-options"
                class="hidden absolute right-14 mt-2 bg-zinc-800 shadow-lg"
                >
                    {
                        options.map(option => (
                            <li>
                                <a
                                href={option.url}
                                class="block text-center px-2 py-1 text-base font-semibold bg-zinc-800 hover:bg-zinc-700 transition-colors"
                                >
                                    {option.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="group">
                <a
                href=""
                class:list={[
                    "px-3 py-2 rounded-xl font-semibold text-xl bg-zinc-800 hover:bg-zinc-700 transition-colors duration-500",
                    userInfo.login ? "hidden" : "flex"
                ]}> <!-- Sesion no iniciada -->
                    <Github width="26" height="25" />
                </a>
                <ButtonDialog class="right-11">
                    Iniciar Sesion...
                </ButtonDialog>
            </div>
        </div>
    </header>
</Container>
<div class="pb-16" />

<script>
    const userButton = document.querySelector("#user-button");
    const userOptions = document.querySelector("#user-options");

    userButton?.addEventListener("click", () => {
        userOptions?.classList.toggle("hidden");
    });
</script>