---
import Container from '@/components/container.astro';
import LeftSimpleArrow from '@/icons/leftSimpleArrow.astro';
import RightSimpleArrow from '@/icons/rightSimpleArrow.astro';
import FullRoundedButton from './fullRoundedButton.astro';

interface Props {
    title: string;
    id: string;
    projects: {
        title: string;
        description: string;
        href: string;
        icon: string;
        progress: {
            current: number;
            total: number;
        }
    }[]
}
const { title, id, projects } = Astro.props;
---
<Container class="pt-8 md:!pb-14 !px-0 md:!px-20 w-full">
    <div class="flex px-5 md:px-0 justify-between items-center border-b-[1px] border-b-zinc-800 mb-3 pb-2">
        <h2 class="text-4xl font-bold w-full">
            {title}
        </h2>
        <div class="hidden md:flex gap-x-4 text-zinc-300">
            <FullRoundedButton id={`arrow-left-${id}`}>
                <LeftSimpleArrow />
            </FullRoundedButton>
            <FullRoundedButton id={`arrow-right-${id}`}>
                <RightSimpleArrow />
            </FullRoundedButton>
        </div>
    </div>
    <div
    id={id}
    class="overflow-x-auto scroll-smooth snap-x snap-mandatory projects-gallery">
        <ul class="flex gap-x-4 px-5 md:px-0">
            {
                projects.map(project => (
                    <li class="snap-center">
                        <a
                        href={project.href}
                        class="group aspect-[11/9] md:aspect-video rounded-lg p-4 w-[350px] md:w-[400px] bg-zinc-700 flex flex-col justify-between h-full"
                        >
                            <div>
                                <h4 class="text-[1.73rem] font-semibold">
                                    {project.title}
                                </h4>
                                <p class="text-[1rem] text-zinc-300">
                                    {project.description}
                                </p>
                            </div>
                            <div class="flex font-semibold gap-4 items-center justify-between">
                                <div class="w-full gap-x-2 flex">
                                    <div class="h-5 w-full mt-[2px] bg-gradient-to-r from-slate-500 to-slate-100 rounded-lg" />
                                    <p
                                    class="font-bold text-zinc-300"
                                    >
                                        {project.progress.current}/{project.progress.total}
                                    </p>
                                </div>
                                <div class="flex gap-2 items-center group">
                                    <p class="md:opacity-0 group-hover:opacity-100 font-bold group-hover:text-purple-300 transition duration-300">
                                        {project.progress.current > 0 ? 'Continuar' : 'Iniciar'}
                                    </p>
                                    <RightSimpleArrow class="w-6 h-6 text-zinc-300 group-hover:text-purple-300 duration-300" />
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Container>

<style define:vars={{ id }}>
    .projects-gallery {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
</style>

<script is:inline define:vars={{ id }}>
    const gallery = document.getElementById(id);
    const arrowLeft = document.getElementById(`arrow-left-${id}`);
    const arrowRight = document.getElementById(`arrow-right-${id}`);

    arrowLeft.addEventListener('click', () => {
        gallery.scrollLeft -= 400;
    });

    arrowRight.addEventListener('click', () => {
        gallery.scrollLeft += 400;
    });
</script>