---
import RightSimpleArrow from '@/icons/rightSimpleArrow.astro';

interface Props {
    title: string;
    href: string;
    icon: any;
    description: string;
    progress: {
        current: number;
        total: number;
    }
}
const { title, href, icon: Icon, description, progress } = Astro.props;
---

<a
href={href}
class="group aspect-[11/9] md:aspect-video rounded-lg px-4 py-3 w-[350px] md:w-[400px] bg-zinc-700 flex flex-col justify-between h-full"
>
    <div class="pb-3">
        <div class="flex">
            <h4 class="text-[1.73rem] pb-1 leading-tight group-hover:text-yellow-100 font-semibold transition-colors">
                {title}
            </h4>
            <span class="pr-2 pt-4">
                <Icon />
            </span>
        </div>
        <p class="text-[1rem] text-zinc-300 group-hover:text-white transition-colors">
            {description}
        </p>
    </div>
    <div class="flex font-semibold gap-4 items-center justify-between">
        <div class="w-full gap-x-2 flex">
            <div class="h-5 w-full mt-[2px] bg-gradient-to-r from-slate-500 to-slate-100 rounded-lg" />
            <p
            class="font-bold text-zinc-300"
            >
                {progress.current}/{progress.total}
            </p>
        </div>
        <div class="flex gap-2 items-center group">
            <p class="md:opacity-0 group-hover:opacity-100 font-bold group-hover:text-purple-300 transition duration-300">
                {progress.current > 0 ? 'Continuar' : 'Iniciar'}
            </p>
            <RightSimpleArrow class="w-6 h-6 text-zinc-300 group-hover:text-purple-300 duration-300" />
        </div>
    </div>
</a>