---
import Container from '@/components/container.astro';
import LeftSimpleArrow from '@/icons/leftSimpleArrow.astro';
import RightSimpleArrow from '@/icons/rightSimpleArrow.astro';
import FullRoundedButton from '@/components/fullRoundedButton.astro';
import ProjectCard from '@/components/projectCard.astro';

interface Props {
    title: string;
    id: string;
    projects: {
        title: string;
        description: string;
        href: string;
        icon: any;
        progress: {
            current: number;
            total: number;
        }
    }[]
}

const { title, id, projects } = Astro.props;
---
<Container class="pt-8 md:!pb-14 !px-0 md:!px-20 w-full">
    <div class="flex px-5 md:px-0 justify-between items-center border-b-[1px] border-b-zinc-800 mb-3 pb-2">
        <h2 class="text-4xl font-bold w-full">
            {title}
        </h2>
        <div class="hidden md:flex gap-x-4 text-zinc-300">
            <FullRoundedButton id={`arrow-left-${id}`}>
                <LeftSimpleArrow />
            </FullRoundedButton>
            <FullRoundedButton id={`arrow-right-${id}`}>
                <RightSimpleArrow />
            </FullRoundedButton>
        </div>
    </div>
    <div
    id={id}
    class="overflow-x-auto scroll-smooth snap-x snap-mandatory projects-gallery">
        <ul class="flex gap-x-4 px-5 md:px-0">
            {
                projects.map(({href, title, description, progress, icon: Icon}) => (
                    <li class="snap-center">
                        <ProjectCard
                        title={title}
                        href={href}
                        icon={Icon}
                        description={description}
                        progress={progress}
                        />
                    </li>
                ))
            }
        </ul>
    </div>
</Container>

<style define:vars={{ id }}>
    .projects-gallery {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
</style>

<script is:inline define:vars={{ id }}>
    const gallery = document.getElementById(id);
    const arrowLeft = document.getElementById(`arrow-left-${id}`);
    const arrowRight = document.getElementById(`arrow-right-${id}`);

    arrowLeft.addEventListener('click', () => {
        gallery.scrollLeft -= 400;
    });

    arrowRight.addEventListener('click', () => {
        gallery.scrollLeft += 400;
    });
</script>