---
import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';

const all_projects = [
	{
		id: 'introduction',
		title: 'Proyecto 1',
	},
	{
		id: 'project-2',
		title: 'Proyecto 2',
	},
	{
		id: 'project-3',
		title: 'Proyecto 3',
	},
]

interface Props {
	title: string;
	description: string;
	active: string;
	id_project?: string;
	section_title: string;
	section_active: string;
}
const { title, description, active, id_project, section_title, section_active } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-900 text-white">
		<Header active={active} />
		<div class="w-[250px] text-xl font-semibold h-svh fixed bg-zinc-800">
			<button class="w-full text-center py-3 text-2xl border-b-[1px] border-b-slate-500/50">
				{title}
			</button>
			<ul class="flex flex-col p-4 gap-y-4">
				{
					all_projects.map((project) => (
						<li>
							<a
								href={`/project/${id_project}/${project.id}`}
								class:list={[`${
									section_active === project.id
										? 'bg-zinc-700/50'
										: 'bg-'
								}`, 'px-2 py-1 rounded-md hover:bg-zinc-700 transition-colors']}
							>
								{project.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<div class="pl-[250px]">
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
